---
// TopTrack.astro
const apiKey = import.meta.env.LASTFM_API_KEY;
const username = import.meta.env.LASTFM_USERNAME;

const response = await fetch(
  `https://ws.audioscrobbler.com/2.0/?method=user.gettoptracks&user=${username}&api_key=${apiKey}&format=json&period=1month&limit=1`
);

const data = await response.json();
const topTrack = data.toptracks.track[0];
---

<div class="top-track">
  <p>Current obsession: </p>
  <img src="/images/spotify-pixel.svg">
  <a href={topTrack.url} class="track-name">{topTrack.artist.name} - {topTrack.name}</a>
  
</div>

<style>
  .top-track {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .top-track img {
    width: auto;
    height: 20px;
  }
  
  .track-name {
    font-size: inherit;
    color: var(--grey);
  }
  .track-name:hover {
    color: var(--black);
  }
</style>